<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>История доктора</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>
  </head>
  <style>
    html, body { height:100%; padding:0; margin:0; }
    .listdemoBasicUsage md-divider {
        margin-top: 10px;
        margin-bottom: 0; 
    }
  </style>
  <script>
    angular.module('MyApp',['ngMaterial', 'ngMessages'])
    .controller('AppCtrl', function($scope, $http) {
        $scope.history = [];
        $scope.getHistory = function(){
            var url = "/history";
            $scope.user = 3;
            $http({
                method: 'GET',
                url: url + "/5",
                headers: {"Content-type":"application/json"}
            }).then(function(response) {
                $scope.history = response.data;
            }, function(error){
                alert("Error = " + error);
            });
        };
        $scope.getOneElement = function(id){
            $scope.history.forEach(function(item, i, arr) {
                if(item.id == id){
                    $scope.showTitle = true;
                    // $scope.inputName = item.;
                    $scope.inputBreed="Овчарка";
                    $scope.inputAge=item.age;
                    $scope.inputWeight=item.weight;
                    $scope.inputFIO=item.fio;
                    $scope.inputPhone=item.phone;
                    $scope.inputNote=item.note;
                    return;
                }
            });
        };
        window.setInterval(function() {
            $scope.getHistory();
        }, 3000);
        $scope.open = function(){
           // $scope.showTitle = !$scope.showTitle;
            $scope.inputName = "Хороший песик";
            $scope.inputBreed="Овчарка";
            $scope.inputAge="1";
            $scope.inputWeight="2 кг";
            $scope.inputFIO="Иванов Иван Иванович";
            $scope.inputPhone="+7(988)0020235";
        };
        
        var imagePath = 'img/list/60.jpeg';
        $scope.messages = [{
            face : imagePath,
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        }, {
            face : imagePath,
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        }, {
            face : imagePath,
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        }, {
            face : imagePath,
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        }, {
            face : imagePath,
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
        }];
    });
  </script>
  <body  ng-app="MyApp">
    <div ng-controller="AppCtrl" class="row" ng-init="getHistory(); showTitle=false;">
    <div class="col-md-1"></div>
    <div ng-cloak="" class="dividerdemoBasicUsage col-md-3">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
        <span>История доктора</span>
        </h2>
    </md-toolbar>
    <md-content>
        <md-list>
                {% raw %}
        <md-list-item class="md-3-line" ng-repeat="item in history" ng-click="getOneElement(item.id)">
            <div class="md-list-item-text">
            <h3>{{item.fio}}</h3>
            <h4>{{item.who}}</h4>
            <p>{{item.notes}}</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
                {% endraw %}
        </md-list>
    </md-content>
    </div>
    <div class="col-md-7">
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools" >
                <span>История доктора</span>
            </h2>
        </md-toolbar>
        <div >
            <br />
                <div class="row">
                    <div class="col-md-12">
                        <center><img ng-show="showTitle" src="https://pbs.twimg.com/media/C2VgS5LXgAAtg25.jpg" width="250px"/></center>
                    </div>
                </div>
                <div class="row" style="margin-top:25px">
                <div class="col-md-3">
                    <label class="form-control">Кличка</label>
                </div>
                <div class="col-md-9">
                    <input type="text" ng-model="inputName" class="form-control" id="inputName" placeholder="Кличка">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                    <label class="form-control">Порода</label>
                </div>
                <div class="col-md-9">
                    <input type="text" ng-model="inputBreed" class="form-control" id="inputBreed" placeholder="Порода">
                </div>
              </div>  
              <div class="row">
              <div class="col-md-3">
                <label class="form-control">Возраст</label>
              </div>
              <div class="col-md-9">
                <input type="text" ng-model="inputAge" class="form-control" id="inputAge" placeholder="Возраст">
              </div>
              </div>
              <div class="row">
              <div class="col-md-3">
                <label class="form-control">Вес</label>
              </div>
              <div class="col-md-9">
                <input type="text" ng-model="inputWeight" class="form-control" id="inputWeight" placeholder="Вес">
              </div>
              </div>
              <div class="row">
              <div class="col-md-3">
                <label class="form-control">Примечание</label>
              </div>
              <div class="col-md-9">
                <input type="text" ng-model="inputNote" class="form-control" id="inputNote" placeholder="Примечание">
              </div>
              </div>
              <div class="row">
              <div class="col-md-6">
                <input type="text" ng-model="inputFIO" class="form-control" id="inputFIO" placeholder="Ф.И.О. хозяина">
              </div>
              <div class="col-md-6">
                <input type="text" ng-model="inputPhone" class="form-control" id="inputPhone" placeholder="Номер телефона хозяина">
              </div>
              </div>
              <div class="row">
              <div class="col-md-12">
                 <center><md-button class="md-raised md-primary" id="inputSave">Сохранить</md-button></center>
              </div>
              </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>   
  </body>
</html>
