<!DOCTYPE html>
<html lang="ru" ng-app="mainapp">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</head>
<style>
    html, body { height:100%; padding:0; margin:0; }
</style>
<script type="text/javascript">
    angular
      .module('mainapp', ['ngMaterial'])
      .controller('MainCtrl', function($scope, $http){
        $scope.users = [];
        /*window.setInterval(function() {
             // TODO: вставить получение данных через $http
            $http.post('/login', $scope.user)
            .then(
                function(response){ // получение ответа
                    console.log(response);
                    $scope.users.push(response.data);
                    console.log($scope.users);
                },
                function(response){
                    alert(response.data);
                }
            );
        }, 5000);*/

        $scope.user = {
            login: "Boriska",
            password: "123"
        };
        $scope.login = function(){
            $http.post('/login', $scope.user)
            .then(
                function(response){ // получение ответа
                    alert(response.data);
                },
                function(response){
                    alert(response.data);
                }
            );
        };
      });
</script>
<body ng-controller="MainCtrl">
    <div class="row" style="margin-top:25%; position:absolute; width:100%;">
      <div class="col-md-2">
          <div class="row">
              <div class="col-md-6" id="log">
                  123
                  {% raw %}
                    <div ng-repeat="us in users track by $index">
                        {{us}}
                    </div>
                  {% endraw %}
              </div>
          </div>
      </div>
      <div class="col-md-3">
        <!--<center>-->
            <md-input-container class="md-block" flex-gt-sm>
                <label>Логин</label>
                <input ng-model="user.login">
            </md-input-container><br />
            <md-input-container class="md-block" flex-gt-sm>
                <label>Пароль</label>
                <input ng-model="user.password" type="password">
            </md-input-container><br />
            <button ng-click="login()">Авторизация</button>
            <!--Для работа Flask + Angular-->
            {{ user }}
        <!--</center>-->
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <center>
            Регистрация
        </center>
      </div>
      <div class="col-md-2"></div>
    </div>
</body>
</html>